body {
    background-color: #252525;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

#payload h1 {
    padding-right: 35%;
    color: white;
}

#payload #calendar {
    align-content: center;
    align-self: center;
    padding-top: 10px;

}

#payload #heading {
    font-size: 48px;
    align-content: center;
    padding-left: 35%;
}

#payload #intro {
    padding-top: 5%;
    padding-right: 0px;
}

#payload .blanktext {
    color: black;
}

#payload #main {
    text-align: center;
}