body {
	background-color: #252525;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

#logoImage {
	zoom: 75%;
	align-content: center;
	
}

h1 {
  padding-right: 35%;
  color: white;
}

#calendar{
	align-content: center;
	align-self: center;
	padding-top: 10px;
	
}

#Title {
	font-size: 48px;
}
#heading{
	font-size: 48px;
	align-content: center;
	padding-left: 35%;
}

#Intro {
	padding-top: 5%;
	padding-right: 0px;
}

.blanktext{
	color:black;
}