/*
Start of generic items
*/
body {
    background-color: #252525;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

#payload {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    /*margin-top: 0px;*/
    text-align: center;
}

/*
Start of specific items
*/

#payload #logoImage {
    float: left;
    padding-top: 20px;
    padding-left: 0px;
    margin-left: 17%;
    zoom: 75%;
}

#payload h1 {
    float: right;
    padding-right: 35%;
    color: white;
}

#payload #borderLine {
    border-bottom: solid;
    color: white;
    position: fixed;
    margin-top: 1%;
}

#payload #title {
    font-size: 48px;
}

#payload #heading {
    left: 50%;
    right: 50%;
    padding-top: 7%;
    font-size: 50px;
}

#payload #intro {
    padding-top: 5%;
    left: 50%;
    right: 50%;
    padding-bottom: 15%;
    padding-right: 0px;
}
