body {
	background-color: #252525;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

h1 {
  padding-right: 35%;
  color: #E0E0E0;
  font-size: 36px;
}

#heading{
	font-size: 48px;
	color: white;
	align-content: center;
	padding-left: 35%;
}

#intro {
	padding-top: 5%;
	padding-right: 0px;
	
}
.list{
	font-size: 24px;
	color:#00C080;
	align-content: center;
}
.center{
    width:1000px;
    margin:0 auto;
    text-align:left;
}