/*
Start of generic items
*/
body {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}
#payload{
	color: #064489;
	font-size: 20px;
	padding-top: 10%;
	margin-top: auto;
}

/*
Start of specific items
*/
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
}
#logoImage {
	float: left;
	padding-top:20px;
	padding-left:0px;
	margin-left:20%;
	zoom: 75%;
}

h1 {
  float:right;
  padding-right: 35%;
  color: black;
}

#borderLine {
    border-bottom: solid;
    color: white;
	position: fixed;
	margin-top: 1%;
}

#title {
	font-size: 48px;
}
#heading{
	font-size: 50px;
}

#Intro {
	align-content: center;
	padding-top:150px;
	padding-right: 150px;
	padding-bottom: 150px;
}

.heading{
	height: 80px;
	margin-top:100px;
}



.drivefolder{
	color: white;
	align-content: center;
	align-self: center;
	padding-top: 10px;
	
	
}
.blanktext{
	color:white;
}
.quicklinks {
	position: -webkit-sticky;
	top: 0px;
	position: sticky;
	background-color: #064489;
	width: 100%;
	left:0px;
	height: 80px;
	margin-bottom: 150px;
	margin-top:10px;
}
.button {
    background-color: #064489; /* Scheme blue*/
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 1px solid #064489;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
